name: Codeowners - Content Strategy
on:
  pull_request:
    paths:
      - 'content/**'

jobs:
  codeowners-content-strategy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0

      - name: Add Content Strategy as a reviewer
        env:
          GH_TOKEN: ${{ github.token }}
          PR: ${{ github.event.pull_request.html_url }}
        run: |
          has_reviewer=$(
            gh pr view $PR --json reviews |
            jq 'any(.reviews[]; select(.reviews | index("grp392")))'
          )
          if ! $has_reviewer
          then
            gh pr edit $PR --add-reviewer grp392
          fi
