name: FR Rotation
on:
  workflow_dispatch

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: JasonEtco/create-an-issue@1b14a70e4d8dc185e5cc76d3bec9eab20257b2c5 # v2.9.2
        env:
          GITHUB_TOKEN: ${{ secrets.GRACE_TOKEN }}
        with:
          filename: .github/workflows/ISSUE_TEMPLATE/FR-template.md
