name: Update docs-cp4d-snapshot content files

# **What it does**: Provides errors and summary statistics on rendering translated content.
# **Why we have it**: To improve our translations by having clearer visibility.
# **Who does it impact**: Docs engineering, Microsoft translators.

on:
  push:
    branches:
      - main
    paths:
      - content/**
      - data/**
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync-content-markdown:
    name: Sync content markdown for snapshot repo
    if: github.repository == 'gracepark/testing-action'
    runs-on: ubuntu-latest
    # This sets a maximum execution time of 60 minutes (1 hour)
    # to prevent the workflow from running longer than necessary.
    timeout-minutes: 60

    steps:
      - name: Checkout the testing-action repo
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          fetch-depth: 2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@246636f5fa148b5ad8e65ca4c57b18af3123e5f6 # v39.0.1
        with:
          files: |
            content/**
            data/**

      - name: Run tests
        env:
          ALL_MODIFIED_FILES: ${{ steps.changed-files.outputs.all_modified_files }}
        run: |
          echo "ALL_MODIFIED_FILES: $ALL_MODIFIED_FILES"
         
      - name: Checkout the testing repo
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          repository: gracepark/testing
          token: ${{ secrets.GITHUB_TOKEN }}
          path: testing