name: 'Content Lint Markdown'

# **What it does**: Lints our content markdown to ensure the content matches the specified styleguide.
# **Why we have it**: We want some level of consistency to our content markdown files.
# **Who does it impact**: Docs content writers.

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'content/**'
      - 'data/**'

permissions:
  contents: read

jobs:
  lint-content:
    runs-on: "ubuntu-latest"
    steps:
      - name: Check out repo
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          ref: ${{ github.head_ref }}

      - name: Check out base ref
        run: git fetch --no-tags --depth=1 origin $GITHUB_BASE_REF

      - name: Get changed files
        id: changed-files
        run: |
          set -e # exit when any command fails

          echo "Ensure we can view $GITHUB_BASE_REF"
          git checkout $GITHUB_BASE_REF

          echo "Ensure we can view $GITHUB_HEAD_REF"
          git checkout $GITHUB_HEAD_REF

          echo "List the files that changed"
          CHANGED_FILES=$(git diff --name-only --diff-filter=d $GITHUB_BASE_REF $GITHUB_HEAD_REF)
          echo "CHANGED_FILES<<EOF" >> $GITHUB_OUTPUT
          echo "$CHANGED_FILES" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Run content linter
        run: node src/content-linter/scripts/markdownlint.js --errors-only --paths ${{ steps.changed-files.outputs.changed_files }}
