name: 'Content Lint Markdown'

# **What it does**: Lints our content markdown to ensure the content matches the specified styleguide.
# **Why we have it**: We want some level of consistency to our content markdown files.
# **Who does it impact**: Docs content writers.

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'content/**'
      - 'data/**'

permissions:
  contents: read

jobs:
  lint-content:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          # Needed to detect changed files
          fetch-depth: 2

      - name: Get updated docs
        id: changed-files
        uses: tj-actions/changed-files@48566bbcc22ceb7c5809ebdd27377309f2c3de8c # pin @v39.0.0
        with:
          fetch_depth: 2
          files: |
            content/**
            data/**
          separator: " "

      - name: Run content linter if changed content/data files
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          echo ${{ steps.changed-files.outputs.all_changed_and_modified_files }}
          node src/content-linter/scripts/markdownlint.js --paths ${{ steps.changed-files.outputs.all_changed_and_modified_files }}
