name: 'Update FR Issue with Incidents'

on: workflow_dispatch

jobs:
  update-fr-issue:
    runs-on: ubuntu-latest
    continue-on-error: true
    permissions:
      issues: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get current date and time
        id: datetime
        run: |
          CURRENT_DATE_TIME=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
          echo "Current date and time: $CURRENT_DATE_TIME"
          echo "DATE_TIME=$CURRENT_DATE_TIME" >> $GITHUB_ENV
          PAST_DATE_TIME=$(date -u -d "$CURRENT_DATE_TIME - 10 minutes" +"%Y-%m-%dT%H:%M:%SZ")
          echo "Date and time 10 minutes ago: $PAST_DATE_TIME"
          echo "PAST_DATE_TIME=$PAST_DATE_TIME" >> $GITHUB_ENV

      - name: Get incidents list
        id: get-incidents
        uses: gracepark/pagerduty-incidents-action@70886d4cf1c7716ae783096a8670792b2569cba5
        with:
          pagerduty_token: y_NbAkKc66ryYTWUXYEu # test token
          team_id: 'P3XDFGJ'  # test team ID
          date_range: 'all'
          start_time: ${{ env.CURRENT_DATE_TIME }}  # Start of time range (ISO format)
          end_time: ${{ env.PAST_DATE_TIME }}  # End of time range (ISO format)

      - name: Find FR Issue
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea
        id: find-fr-issue
        with: 
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const issues = await github.rest.issues.listForRepo({
                owner: 'gracepark',
                repo: 'testing-action',
                labels: 'epic, on track',
                state: 'open',
              })
            console.log(issues)
            const currentIssue = issues.data.find(issue => issue.title.includes('First Responder Work'))
            console.log(currentIssue)
            return currentIssue ? currentIssue.number : null

      - name: Add comment to FR issue
        if: ${{ steps.get-incidents.outputs.incidents.length > 0 && steps.find-fr-issue.outputs.result != null }} 
        run: |
          echo ${{ steps.find-fr-issue.outputs.result }}
        # env:
        #   GITHUB_TOKEN: ${{ secrets.GRACE_TOKEN }}
        #   REPO_OWNER: 'gracepark' # Replace with your repository owner
        #   REPO_NAME: 'testing-action' # Replace with your repository name
        #   FR_LABEL: 'on-call' # Label to identify FR issues
        # with:
        #   github-token: ${{ secrets.GRACE_TOKEN }}
        #   script: |
            