name: 'Update FR Issue with Incidents'

on: workflow_dispatch

jobs:
  update-fr-issue:
    runs-on: ubuntu-latest
    continue-on-error: true
    permissions:
      issues: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get current date and time
        id: datetime
        run: |
          CURRENT_DATE_TIME=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
          echo "Current date and time: $CURRENT_DATE_TIME"
          echo "DATE_TIME=$CURRENT_DATE_TIME" >> $GITHUB_ENV
          PAST_DATE_TIME=$(date -u -d "$CURRENT_DATE_TIME - 10 minutes" +"%Y-%m-%dT%H:%M:%SZ")
          echo "Date and time 10 minutes ago: $PAST_DATE_TIME"
          echo "PAST_DATE_TIME=$PAST_DATE_TIME" >> $GITHUB_ENV

      - name: Get incidents list
        id: get-incidents
        uses: gracepark/pagerduty-incidents-action@96fe82aba34b1d0d60a5c70ae160ebcb80b6d1b3
        with:
          pagerduty_token: y_NbAkKc66ryYTWUXYEu # test token
          team_id: 'P3XDFGJ'  # test team ID
          date_range: 'all'
          start_time: ${{ env.CURRENT_DATE_TIME }}  # Stxart of time range (ISO format)
          end_time: ${{ env.PAST_DATE_TIME }}  # End of time range (ISO format)
      
      - name: Format incidents as Markdown table
        if: ${{ steps.get-incidents.outputs.incident_count > 0 }}
        id: format-table
        run: |
          INCIDENTS='${{steps.get-incidents.outputs.incidents}}'

          echo "$INCIDENTS" | jq -r '
            ["Incident Number", "Title", "Description", "Created At", "Updated At", "Status"],
            ["----------------","-----------------------------------------------","------------------------------------","---------------------","---------------------","----------"],
            (.[] | [.incident_number, .title, .description, .created_at, .updated_at, .status])
            | @tsv'
       
          TABLE=$(echo "$INCIDENTS" | jq -r '
            ["Incident Number", "Title", "Description", "Created At", "Updated At", "Status"],
            ["----------------","-----------------------------------------------","------------------------------------","---------------------","---------------------","----------"],
            (.[] | [.incident_number, .title, .description, .created_at, .updated_at, .status])
            | @tsv' | column -t -s $'\t' | awk '

          echo "$TABLE"

          {
            printf "| %-15s | %-45s | %-34s | %-19s | %-19s | %-8s |\n", $1, $2, $3, $4, $5, $6
          }')
          echo "markdown_table<<EOF" >> $GITHUB_ENV
          echo "$TABLE" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Find FR Issue
        id: find-fr-issue
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea
        with: 
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: json
          script: |
            try {
              const issues = await github.rest.issues.listForRepo({
                  owner: 'gracepark',
                  repo: 'testing-action',
                  labels: 'epic,on track',
                  state: 'open',
                })
              const currentIssue = issues.data.find(issue => issue.title.includes('First Responder Work'))
              console.log(currentIssue.number)
              return currentIssue ? currentIssue.number : ''
            } catch (error) {
              console.log(error.message)
              console.error(error)
            }

      - name: Add comment to FR issue
        if: ${{ steps.get-incidents.outputs.incident_count > 0 && steps.find-fr-issue.outputs.result != '' }}
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043
        with:
          issue-number: ${{ steps.find-fr-issue.outputs.result }}
          body: |
            There are ${{ steps.get-incidents.outputs.incident_count }} incidents in the last 10 minutes. Please check if any of these incidents are related to the FR issue.

            ${{ env.markdown_table }}"

# [{"incident_number":1,"title":"Launch Vehicle Disintegrated","description":"Launch Vehicle Disintegrated","created_at":"2021-01-07T19:32:58Z","updated_at":"2021-01-07T19:36:03Z","status":"resolved"}, {"incident_number":2,"title":"Launch Vehicle Disintegrated","description":"Launch Vehicle Disintegrated","created_at":"2021-01-07T19:32:58Z","updated_at":"2021-01-07T19:36:03Z","status":"resolved"}]